<div class="container text-light py-5" id="portfolio">
      <h2 class="mb-4 text-center fs-1">Portfolio</h2>

      <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-4 m-3 text-center card  bg-dark">
          <div class="card-body">
            <a
              href="https://romantic-davinci-eb1814.netlify.app/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <h5 class="card-title">Gallery App</h5>
            </a>
            <p class="card-text">
              Es una plaicaion de galeria de fotos. Esta app esta echa con react
              y es una pwa
            </p>
            <a
              href="https://github.com/CPaulo18/Gallery-App.git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <button class="btn btn-primary">Source code</button>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-4 m-3 text-center card  bg-dark">
          <div class="card-body">
            <a
              href="https://kind-shaw-3fea01.netlify.app/mans"
              target="_blank"
              rel="noreferrer noopener"
            >
              <h5 class="card-title">Dragon Ball App</h5>
            </a>
            <p class="card-text">
              Es una aplicaon de personaje echa con React y fire
            </p>
            <a
              href="https://github.com/CPaulo18/Dragon-Ball-App.git"
              target="_blank"
              rel="noreferrer noopener"
            >
              <button class="btn btn-primary">Source code</button>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-4 m-3 text-center card  bg-dark">
          <div class="card-body">
            <a
              href="https://romantic-davinci-eb1814.netlify.app/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <h5 class="card-title">Gallery App</h5>
            </a>
            <p class="card-text">
              Es una plaicaion de galeria de fotos. Esta app esta echa con react
              y es una pwa
            </p>
            <a
              href="https://github.com/CPaulo18/Gallery-App"
              target="_blank"
              rel="noreferrer noopener"
            >
              <button class="btn btn-primary">Go to code</button>
            </a>
          </div>
        </div>

        <div class="col-lg-3  col-sm-4 m-3 text-center card  bg-dark">
          <div class="card-body">
            <a
              href="https://romantic-davinci-eb1814.netlify.app/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <h5 class="card-title">Gallery App</h5>
            </a>
            <p class="card-text">
              Es una plaicaion de galeria de fotos. Esta app esta echa con react
              y es una pwa
            </p>
            <a
              href="https://github.com/CPaulo18/Gallery-App"
              target="_blank"
              rel="noreferrer noopener"
            >
              <button class="btn btn-primary">Go to code</button>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-4 m-3 text-center card  bg-dark">
          <div class="card-body">
            <a
              href="https://romantic-davinci-eb1814.netlify.app/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <h5 class="card-title">Gallery App</h5>
            </a>
            <p class="card-text">
              Es una plaicaion de galeria de fotos. Esta app esta echa con react
              y es una pwa
            </p>
            <a
              href="https://github.com/CPaulo18/Gallery-App"
              target="_blank"
              rel="noreferrer noopener"
            >
              <button class="btn btn-primary">Go to code</button>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-4 m-3 text-center card  bg-dark">
          <div class="card-body">
            <a
              href="https://romantic-davinci-eb1814.netlify.app/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <h5 class="card-title">Gallery App</h5>
            </a>
            <p class="card-text">
              Es una plaicaion de galeria de fotos. Esta app esta echa con react
              y es una pwa
            </p>
            <a
              href="https://github.com/CPaulo18/Gallery-App"
              target="_blank"
              rel="noreferrer noopener"
            >
              <button class="btn btn-primary">Go to code</button>
            </a>
          </div>
        </div>
      </div>
    </div>


