<div class="container text-light py-5" id="portfolio">
  <h2 class="mb-4 text-center fs-1">Portfolio</h2>

  <div class="row justify-content-center">
    <div class="col-lg-3 col-sm-4 m-3 text-center card  bg-dark">
      <div class="card-body">
        <a href="https://romantic-davinci-eb1814.netlify.app/" target="_blank" rel="noreferrer noopener">
          <h5 class="card-title">Gallery App</h5>
        </a>
        <p class="card-text">
          Es una plaicaion de galeria de fotos. Esta app esta hecha con react
          y es una PWA
        </p>
        <a href="https://github.com/CPaulo18/Gallery-App.git" target="_blank" rel="noreferrer noopener">
          <button class="btn btn-primary">Source code</button>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-4 m-3 text-center card  bg-dark">
      <div class="card-body">
        <a href="https://kind-shaw-3fea01.netlify.app/mans" target="_blank" rel="noreferrer noopener">
          <h5 class="card-title">Dragon Ball App</h5>
        </a>
        <p class="card-text">
          Es una aplicaon de personaje echa con React y firebase
        </p>
        <a href="https://github.com/CPaulo18/Dragon-Ball-App.git" target="_blank" rel="noreferrer noopener">
          <button class="btn btn-primary">Source code</button>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-4 m-3 text-center card  bg-dark">
      <div class="card-body">
        <a href="https://serene-mahavira-20e08d.netlify.app/" target="_blank" rel="noreferrer noopener">
          <h5 class="card-title">Aplicacion para gastos</h5>
        </a>
        <p class="card-text">
          Es una app que sirve para saber los egresos e ingresos de tu economia. Hecha con js y boostrap
        </p>
        <a href="https://github.com/CPaulo18/Aplicacion-para-gastos" target="_blank" rel="noreferrer noopener">
          <button class="btn btn-primary">Go to code</button>
        </a>
      </div>
    </div>

    <div class="col-lg-3  col-sm-4 m-3 text-center card  bg-dark">
      <div class="card-body">
        <a href="https://cocky-bartik-24b898.netlify.app/" target="_blank" rel="noreferrer noopener">
          <h5 class="card-title">Agenda App</h5>
        </a>
        <p class="card-text">
          Agenda de contactos hecha con React
        </p>
        <a href="https://github.com/CPaulo18/Agenda-App" target="_blank" rel="noreferrer noopener">
          <button class="btn btn-primary">Go to code</button>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-4 m-3 text-center card  bg-dark">
      <div class="card-body">
        <a href="https://zealous-almeida-5eb108.netlify.app/" target="_blank" rel="noreferrer noopener">
          <h5 class="card-title">Movies App</h5>
        </a>
        <p class="card-text">
          Es una plaicaion de paginacion de peliculas. Esta app esta echa con react
          y es una PWA
        </p>
        <a href="https://zealous-almeida-5eb108.netlify.app/" target="_blank" rel="noreferrer noopener">
          <button class="btn btn-primary">Go to code</button>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-4 m-3 text-center card  bg-dark">
      <div class="card-body">
        <a href="https://github.com/CPaulo18/Agencia-Marketing.git" target="_blank" rel="noreferrer noopener">
          <h5 class="card-title">Agencia De Marketing</h5>
        </a>
        <p class="card-text">
          Es una plaicaion full stack de una Agencia de Marketing. Esta app esta echa con React para el frontend, Django
          para el backend y mysql para la base de datos
          <a href="https://github.com/CPaulo18/Agencia-Marketing.git" target="_blank" rel="noreferrer noopener">
            <button class="btn btn-primary">Go to code</button>
          </a>
      </div>
    </div>
  </div>
</div>