<div class="app">
    <div class="container">
        <h1 class="text-center">Update Education</h1>
        <hr>
        <div class="row">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="eduName">Instituto</label>
                        <input type="text" class="from-control" id="eduName" name="eduName"
                            [(ngModel)]="education.eduName">
                    </div>
                    <div class="form-group">
                        <label for="eduDesc">Descripcion de la carrera</label>
                        <input type="text" class="from-control" id="eduDesc" name="eduDesc"
                            [(ngModel)]="education.eduDesc">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Update education
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>