<div>
    <app-navbar></app-navbar>
        <!-- <div
          class="my-4 container d-flex flex-column ps-3 
          justify-content-center"
        >
          <h2 class="text-primary">Welcome to my world.</h2>
          <h2 class="fs-2 text-light">Hi,</h2>
          <h2 class="text-light">
            <span class="text-primary">I'm</span> Paulo Caceres.
          </h2>
          <h2 class="text-primary">
            Full Stack Develper.
          </h2>
  
            <div>
              <a href="#contact" class="btn btn-primary me-3">
                Hire Me
              </a>
            </div>
        </div> -->
        <div>
          <img src="../../../assets/banner.jpg" id="banner">
        </div>
    
</div>
