<div class="app">
    <div class="container">
        <h1 class="text-center">Update Experience</h1>
        <hr>
        <div class="row">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="expName">Nombre de la empresa</label>
                        <input type="text" class="from-control" id="expName" name="expName"
                            [(ngModel)]="expLab.expName">
                    </div>
                    <div class="form-group">
                        <label for="expDesc">Descripcion de la clase</label>
                        <input type="text" class="from-control" id="expDesc" name="expDesc"
                            [(ngModel)]="expLab.expDesc">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Update experience
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>